.vs/
.vscode/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Rr]elease*/
[Dd]ebug*/
x64/
x86/
[Aa][Rr][Mm]/
*.user
*.suo
*.userosscache
*.sln.docstates
packages/
artifacts/
*.nupkg
project.lock.json
**/Properties/launchSettings.json
appsettings.Development.json
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.ncrunch*
*.vshost.*
node_modules/
